# Basically ignores everything except *.start
# A * ensures that everything will be ignored.
*
*.conf
#-----------------------------

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.start
!*.stop
!*.sh
!traefik.toml_20190626
#----------
!macvlan
!macvlan_docker.cleaned
#----------
!plex
#----------
!torrents
!custom_notify_grab.sh.radarr
!custom_notify_grab.sh.sonarr
!torr_transmission_monitor
!transmission_remove_completed.txt
#----------
!monitoring
!crontab_monitor
!dockprom_export
!elastiflow
!dockprom
!exporters
!nodeexporter_collectors
#!influxdb_stack
#!crush-temp-cpu
#!crush-temp-unknown-sensor
#-----------------------------


# Need to again specify any ignores which would otherwise fall inside the whitelists above

# Explicit Ignore - folders
archive
grafana_exports
#-----------------------------

# Explicit Ignore - files
*.conf
*.zip
*.ipcheck
#----------
macvlan_docker.sh
#----------
crontab_monitor.alerts
crontab_monitor.history
crontab_monitor.warn
crontab_monitor.watchlist
#----------
tmp_exporter.sh
#-----------------------------

