# Basically ignores everything except *.start
# A * ensures that everything will be ignored.
*
*.conf
#-----------------------------

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.start
!*.stop
!*.sh
!*.cleaned
!*.readme
!traefik.toml_20190626
#----------
!_traefik_version2
!_traefik_config
!certs
!dynamic
#----------
!docker_management
!pihole
!plex
#----------
!macvlan
!macvlan_docker.cleaned
#----------
!torrents
!custom_notify_grab.sh.radarr
!custom_notify_grab.sh.sonarr
!torr_transmission_monitor
!transmission_remove_completed.txt
#----------
!monitoring
!crontab_monitor
!dockprom_export
!elastiflow
!dockprom
!exporters
!nodeexporter_collectors
!influxdb_stack
!crush-temp-cpu
!crush-temp-unknown-sensor
!homeassistant
#-----------------------------


# Need to again specify any ignores which would otherwise fall inside the whitelists above

# Explicit Ignore - folders
archive
grafana_exports
unused
#-----------------------------

# Explicit Ignore - files
*.conf
*.zip
*.ipcheck
temp.sh
#----------
macvlan_docker.sh
vm_macvlan_docker.sh
#----------
crontab_monitor.alerts
crontab_monitor.history
crontab_monitor.warn
crontab_monitor.watchlist
#----------
tmp_exporter.sh
#----------
traefik.toml
api.toml
defaultauth.toml
external_services.toml
tls.toml
#-----------------------------

